<footer>
    <div class="f-info">
        <div class="f-info-links">
            <p>&copy; Wanderlust Private Limited</p>
            <span>∙</span>
            <a href="https://www.airbnb.com/help/article/2855">Privacy</a>
            <span>∙</span>
            <a href="https://www.airbnb.com/help/article/2908">Terms</a>
        </div>
        <div class="f-info-socials">
            <span><i class="fa-solid fa-globe"></i>English (US)</span>
            <span><i class="fa-solid fa-dollar-sign"></i>USD</span>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/mohin-21-/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
    </div>
</footer>